In [1]:
import pandas as pd

In [2]:
df_p = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Products.csv', sep = ';')
df_c = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Customers.csv', sep = ';')
df_o = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Orders.csv', sep = ';')
df_od = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Order_details.csv', sep = ';')
df_e = pd.read_excel('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Employees.xlsx')

#### Популярные агрегирующие функции

* count
* min
* max
* mean
* median
* sum

In [3]:
df_o

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,Freight
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,32.38
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,11.61
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,65.83
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,41.34
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,51.30
...,...,...,...,...,...,...,...
825,11073,PERIC,2,1998-05-05 00:00:00.000,1998-06-02 00:00:00.000,NaN,24.95
826,11074,SIMOB,7,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,18.44
827,11075,RICSU,8,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,6.19
828,11076,BONAP,4,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,38.28
829,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,8.53

In [11]:
# меняем тип данных даты заказа на datetime64[ns]
df_o['OrderDate']=df_o['OrderDate'].astype('datetime64[ns]')

In [12]:
# Кол-во не пустых строк
df_o.count()

OrderID         830
CustomerID      830
EmployeeID      830
OrderDate       830
RequiredDate    830
ShippedDate     809
Freight         830
dtype: int64

In [15]:
# Уникальные значения
df_o['OrderDate'].nunique()

480

In [16]:
df_o['OrderDate'].unique()

<DatetimeArray>
['1996-07-04 00:00:00', '1996-07-05 00:00:00', '1996-07-08 00:00:00',
 '1996-07-09 00:00:00', '1996-07-10 00:00:00', '1996-07-11 00:00:00',
 '1996-07-12 00:00:00', '1996-07-15 00:00:00', '1996-07-16 00:00:00',
 '1996-07-17 00:00:00',
 ...
 '1998-04-23 00:00:00', '1998-04-24 00:00:00', '1998-04-27 00:00:00',
 '1998-04-28 00:00:00', '1998-04-29 00:00:00', '1998-04-30 00:00:00',
 '1998-05-01 00:00:00', '1998-05-04 00:00:00', '1998-05-05 00:00:00',
 '1998-05-06 00:00:00']
Length: 480, dtype: datetime64[ns]

In [17]:
# Уникальные значения EmployeeID
df_o['EmployeeID'].unique()

array([5, 6, 4, 3, 9, 1, 8, 2, 7], dtype=int64)

In [18]:
# Max дата заказа
df_o['OrderDate'].max()

Timestamp('1998-05-06 00:00:00')

In [19]:
# Min вес заказа
df_o['Freight'].min()

0.02

In [22]:
# Mean вес заказа
df_o['Freight'].mean()

78.2442048192771

In [23]:
# Список агрегирующих функций
df_o['Freight'].agg(['min','max','mean'])

min        0.020000
max     1007.640000
mean      78.244205
Name: Freight, dtype: float64

In [25]:
# Агрегирующие функции из двух столбцов
df_o.agg({'Freight':'min','OrderDate':'count'})

Freight        0.02
OrderDate    830.00
dtype: float64

In [26]:
# Список агрегирующих функций из двух столбцов
df_o.agg({'Freight':['min','max','mean'],'OrderDate':'count'})

           Freight  OrderDate
min       0.020000        NaN
max    1007.640000        NaN
mean     78.244205        NaN
count          NaN      830.0

In [27]:
# выведет список уникальных должностей
df_c['ContactTitle'].unique()

array(['Sales Representative', 'Owner', 'Order Administrator',
       'Marketing Manager', 'Accounting Manager', 'Sales Agent',
       'Sales Associate', 'Sales Manager', 'Marketing Assistant',
       'Assistant Sales Agent', 'Assistant Sales Representative',
       'Owner/Marketing Assistant'], dtype=object)

In [28]:
# посчитает количество уникальных должностей
df_c['ContactTitle'].nunique()

12

In [29]:
# посчитает количество не пустых значений
df_c['ContactTitle'].count()

91

### Агрегация после фильтрации

In [30]:
df_p

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
1,2,Chang,24 - 12 oz bottles,19.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
...,...,...,...,...,...,...,...
72,73,Rod Kaviar,24 - 150 g jars,15.00,8,Seafood,Seaweed and fish
73,74,Longlife Tofu,5 kg pkg.,10.00,7,Produce,Dried fruit and bean curd
74,75,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales
75,76,Lakkalikoori,500 ml,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
76,77,Original Frankfurter gr?ne Sobe,12 boxes,13.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...

In [31]:
df_p[df_p['CategoryName']== 'Beverages']

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
1,2,Chang,24 - 12 oz bottles,19.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
23,24,Guaran? Fant?stica,12 - 355 ml cans,4.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
33,34,Sasquatch Ale,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
34,35,Steeleye Stout,24 - 12 oz bottles,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
37,38,C?te de Blaye,12 - 75 cl bottles,263.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
38,39,Chartreuse verte,750 cc per bottle,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
42,43,Ipoh Coffee,16 - 500 g tins,46.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
66,67,Laughing Lumberjack Lager,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
69,70,Outback Lager,24 - 355 ml bottles,15.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
74,75,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales
75,76,Lakkalikoori,500 ml,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales

In [32]:
df_p[df_p['CategoryName']== 'Beverages']['ProductID'].count()

12

In [34]:
# Min
df_p[df_p['CategoryName']== 'Beverages'].UnitPrice.min()

4.5

In [35]:
# Список агрегированных ф-ций после фильтрации
df_p[df_p['CategoryName']== 'Beverages'].UnitPrice.agg(['min','max'])

min      4.5
max    263.5
Name: UnitPrice, dtype: float64

In [37]:
# Суммарный вес заказов, своершенных в 1996 г
df_o[df_o['OrderDate'].between('1996-01-01','1996-12-31')].Freight.sum()

10279.869999999999

In [43]:
# Кол-во клиентов, у которых должность Owner или Sales Representative
df_c[df_c['ContactTitle'].isin(['Owner','Sales Representative'])].count()

CustomerID      34
ContactName     34
ContactTitle    34
Phone           34
Address         34
dtype: int64

In [46]:
# Разница между максимальным весом заказа и минимальным весом заказа
df_o['Freight'].agg(['min','max']).diff()

min        NaN
max    1007.62
Name: Freight, dtype: float64

In [50]:
# суммарный вес заказов, которые были совершены 26 февраля 1998 года
df_o[df_o['OrderDate']== '1998-02-26'].Freight.sum()

776.27