In [1]:
import pandas as pd

In [2]:
df_p = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Products.csv', sep = ';')
df_c = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Customers.csv', sep = ';')
df_o = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Orders.csv', sep = ';')
df_od = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Order_details.csv', sep = ';')
df_e = pd.read_excel('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Employees.xlsx')

In [3]:
df_p.head()

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
1,2,Chang,24 - 12 oz bottles,19.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,2,Condiments,Sweet and savory sauces. relishes. spreads. an...

Bin - это группа. Разброс последовательных значений может быть собран в равные группы, которые называются бинами. К примеру, возрастные группы в каком-то демографическом анализе: от 0 до 5 лет, от 6 до 10, от 11 до 16 и т. д. Это и есть bin'ы.

У нас это группы по стоимости продукта. Диапазон цен одного бина равен диапазону цен других бинов. А кол-во элементов/строк - разное.

In [11]:
df_p['bins'] = pd.cut(df_p['UnitPrice'], bins = [0,10,20,30,40], labels = ['от 1 до 10','от 10 до 20','от 20 до 30','от 30 до 40'])

In [12]:
# Группировка по новому столбцу и подсчет кол-ва продуктов
df_p.groupby('bins').ProductID.count()
# ценовой диапазон продуктов

bins
от 1 до 10     14
от 10 до 20    26
от 20 до 30    13
от 30 до 40    12
Name: ProductID, dtype: int64

In [10]:
df_p.sort_values('UnitPrice', ascending = False)

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description,bins
37,38,C?te de Blaye,12 - 75 cl bottles,263.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales,NaN
28,29,Th?ringer Rostbratwurst,50 bags x 30 sausgs.,123.79,6,Meat/Poultry,Prepared meats,NaN
8,9,Mishi Kobe Niku,18 - 500 g pkgs.,97.00,6,Meat/Poultry,Prepared meats,NaN
19,20,Sir Rodney's Marmalade,30 gift boxes,81.00,3,Confections,Desserts. candies. and sweet breads,NaN
17,18,Carnarvon Tigers,16 kg pkg.,62.50,8,Seafood,Seaweed and fish,NaN
...,...,...,...,...,...,...,...,...
53,54,Tourtiere,16 pies,7.45,6,Meat/Poultry,Prepared meats,"(0.0, 10.0]"
51,52,Filo Mix,16 - 2 kg boxes,7.00,5,Grains/Cereals,Breads. crackers. pasta. and cereal,"(0.0, 10.0]"
12,13,Konbu,2 kg box,6.00,8,Seafood,Seaweed and fish,"(0.0, 10.0]"
23,24,Guaran? Fant?stica,12 - 355 ml cans,4.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales,"(0.0, 10.0]"
32,33,Geitost,500 g,2.50,4,Dairy Products,Cheeses,"(0.0, 10.0]"

In [13]:
df_p['bins'] = pd.qcut(df_p['UnitPrice'], 4)

In [14]:
# Диапазоны по кол-ву товаров
df_p.groupby('bins').ProductID.count()

bins
(2.499, 13.25]    20
(13.25, 19.5]     19
(19.5, 33.25]     19
(33.25, 263.5]    19
Name: ProductID, dtype: int64

In [15]:
df_p['bins'] = pd.cut(df_p['UnitPrice'],4)

У столбца bins тип данных category. Тип данных category ведет себя как текст (тип данных object), но внутри он представлен массивом целых чисел, что позволяет сортировать столбец bins как числа.

In [17]:
df_p.dtypes

ProductID                  int64
ProductName               object
Product_Description       object
UnitPrice                float64
CategoryID                 int64
CategoryName              object
Category_Description      object
bins                    category
dtype: object

Посчитайте для каждого заказа чистую выручку. Затем помощью метода .cut() разбейте столбец с чистой выручкой на 5 бинов. Добавьте столбец с бинами в датафрейм. Далее в разрезе бинов посчитайте количество заказов. Сопоставьте бин и количество заказов в бине.

In [18]:
df_od['Discount_Fact'] = df_od['UnitPrice']*df_od['Quantity']*df_od['Discount']
df_od['Revenue'] = df_od['UnitPrice']*df_od['Quantity']-df_od['Discount_Fact']

In [20]:
df_od2 = df_od.groupby('OrderID').agg({'Discount_Fact': 'sum', 'Revenue': 'sum'}).reset_index()

In [21]:
df_od2

     OrderID  Discount_Fact    Revenue
0      10248         0.0000   440.0000
1      10249         0.0000  1863.4000
2      10250       260.4000  1552.6000
3      10251        16.7400   654.0600
4      10252       132.1000  3597.9000
..       ...            ...        ...
825    11073         0.0000   300.0000
826    11074        12.2150   232.0850
827    11075        87.9000   498.1000
828    11076       264.2500   792.7500
829    11077       118.8795  1255.7205

[830 rows x 3 columns]

In [25]:
# Бины с чистой выручкой
df_od2['bins'] = pd.cut(df_od2['Revenue'], 5)

In [26]:
# Кол-во заказов 
df_od2.groupby('bins').OrderID.count()

bins
(-3.875, 3287.5]      750
(3287.5, 6562.5]       60
(6562.5, 9837.5]        9
(9837.5, 13112.5]       9
(13112.5, 16387.5]      2
Name: OrderID, dtype: int64

Посчитайте для каждого заказа чистую выручку. Затем с помощью метода .qcut() разбейте столбец с чистой выручкой на 5 бинов. Добавьте столбец с бинами в датафрейм. Далее в разрезе бинов посчитайте количество заказов. Выберите диапазон первого бина.

In [28]:
df_od2['bins'] = pd.qcut(df_od2['Revenue'], 5)

In [29]:
# Диапазоны по кол-ву заказов
df_od2.groupby('bins').OrderID.count()

bins
(12.499, 365.432]      166
(365.432, 721.86]      166
(721.86, 1335.78]      166
(1335.78, 2122.976]    166
(2122.976, 16387.5]    166
Name: OrderID, dtype: int64